<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JavaGuru CRM project">
    <meta name="author" content="JavaGuru">
    <link rel="stylesheet" href="/css/style.css">
    <title>JavaGuru CRM</title>
</head>

<body>

<img src="images/JavaGuru Logo.png">
<img class="marginauto" src="images/CRM Logo.png" alt="centered image"/>

<table class="center">

    <tr>
        <td>User name</td>
        <td>           </td>
    </tr>
    <tr>
        <td> Password</td>
        <td>           </td>
    </tr>
</table>

<a href="/templates/course/addCourse.html">Add course</a> <br>
<a href="/templates/course/showAllCourses.html">Show all courses</a> <br>
<a href="/templates/course/deleteCourse.html">Delete course</a> <br>
<a href="/templates/course/updateCourse.html">Update course</a> <br>

</body>

</html>