<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JavaGuru CRM project">
    <meta name="author" content="JavaGuru">
    <link rel="stylesheet" href="/css/style.css">
    <title>JavaGuru CRM</title>
</head>

<body>

<img src="images/JavaGuru Logo.png" alt="javaguru logo"/>
<img class="marginauto" src="images/CRM Logo.png" alt="crm logo"/>

<table class="center">

    <tr>
        <td>User name</td>
        <td></td>
    </tr>
    <tr>
        <td> Password</td>
        <td></td>
    </tr>
</table>

<a href="/course/addCourse">Add</a> <br>
<a href="/course/showAllCourses">Show all</a> <br>
<a href="/course/updateCourse">Update Course</a> <br>
<a href="/course/deleteCourse">Delete Course</a> <br>

</body>

</html>