<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JavaGuru CRM project">
    <meta name="author" content="JavaGuru">
    <link rel="stylesheet" href="/css/style.css">
    <title>Main Page</title>
</head>

<body>

<img src="/images/JavaGuru%20Logo.png" alt="javaguru logo"/>
<h3>Main page - General info</h3>
<div style="text-align:left">
    <p></p>
    <a href="/course/addCourse">Add new course</a> <br>
    <a href="/course/updateCourse">Update course</a> <br>
    <a href="/course/deleteCourseById">Delete course</a> <br>
    <a href="/course/showAllCourses">Show all courses</a> <br>
</div>

</body>
</html>