<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JavaGuru CRM project">
    <meta name="author" content="JavaGuru">
    <!--<link rel="stylesheet" href="/css/style.css">-->
    <title>JavaGuru CRM</title>
</head>

<style>
    .marginauto {
        margin: 10px auto 20px;
        display: block;
    }
</style>

<body>

<img src="images/JavaGuru Logo.png">
<img class="marginauto" src="images/CRM Logo.png" alt="centered image" />

<a href="/course/addCourse">Add course</a> <br>
<a href="/course/showAllCourses">Show all courses</a> <br>
<a href="/course/deleteCourse">Delete course</a> <br>
<a href="/course/updateCourse">Update course</a> <br>

</body>

</html>