<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JavaGuru CRM project">
    <meta name="author" content="JavaGuru">
    <link type="text/css" href="/css/style.css">
    <title>JavaGuru CRM</title>
</head>

<body>

<img src="images/JavaGuru Logo.png">

<h2 class="top-nav-text">JavaGuru CRM</h2>

<img style="align-content: center" src="images/CRM Logo.png" alt="logo">
<br>
<a href="/addCourse">Add course</a> <br>
<a href="/showAllCourses">Show all courses</a> <br>
<a href="/deleteCourse">Delete course</a> <br>
<a href="/updateCourse">Update course</a> <br>

</body>

</html>