<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JavaGuru CRM project">
    <meta name="author" content="JavaGuru">
    <!--<link type="text/css" href="/css/style.css">-->
    <title>JavaGuru CRM</title>
</head>

<body>

<img src="images/JavaGuru Logo.png">

<h2>JavaGuru CRM</h2>

<img style="align-content: center" src="images/CRM Logo.png" alt="logo">
<br>
<a href="/course/addCourse">Add course</a> <br>
<a href="/course/showAllCourses">Show all courses</a> <br>
<a href="/course/deleteCourse">Delete course</a> <br>
<a href="/course/updateCourse">Update course</a> <br>

</body>

</html>